* {
  box-sizing: border-box;
  color: white;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

html,
body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: black;
}

body {
  display: flex;
  flex-direction: column;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
li a {
  display: block;
}

canvas {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  aspect-ratio: 1280 / 800;
  width: 1280px !important;
  height: 800px !important;
}

#lights {
  padding: 2rem;
  margin: 0;
  display: grid;
  grid-template-columns: 2rem 2rem 2rem 1fr 2rem 2rem 2rem 2rem;
  gap: 2em;
  width: 1280px;
}
.dot {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  border: 1px solid gray;
}

#dashboard {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  order: -1;
}

#cues {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 50%;
  bottom: 0;
  gap: 1ch;
  transform: translateX(-50%);
}
.cue {
  font-size: 2em;
  display: block;
  width: 2ch;
  height: 2ch;
  border: 1px solid gray;
}
.cue.is-current {
  background: white;
  color: black;
}

/* uncomment for production */

/* #dashboard {
  display: none;
} */
